
/* Password : 93hrTdBN57ot64Ub */

/* app.config["MONGO_URI"] = "mongodb+srv://gauravkumar91627018:93hrTdBN57ot64Ub@cluster0.vf6jklr.mongodb.net/audiototext?retryWrites=true&w=majority"
mongo = PyMongo(app)
users_collection = mongo.db.users */

.card{
    display: flex;
    align-items: center;
    justify-content: center;
}